.cardContainer {
  padding: 20px;
  height: 250px;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid #9b9b9b;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  width: 250px;
  height: 250px;
}

.cardContainer:hover {
  border-color: hsl(var(--p));
}

.cardContainer h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.cardContainer p {
  margin: 0;
  padding: 7px 0 0;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

.cardContents {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

.checkboxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
}

.checkbox {
  background-color: hsl(var(--s)) !important;
  border-radius: 10px;
  margin-left: 7px;
  padding: 5px;
}

.button {
  margin-top: 10px;
  color: hsl(var(--p));
  border: 2px solid hsl(var(--s));
  border-radius: 10px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.79);
  font-weight: bold;
}

.button:hover {
  background-color: whitesmoke;
  transform: translateY(-2px);
  scale: 1.02;
  border: 3px solid hsl(var(--s));
  font-size: 18px;
  transition: 0.1s;
}

@media (max-width: 500px) {
  .cardContainer h3 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .cardContainer p {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .cardContainer {
    margin-right: 0;
  }
  .cardContainer {
    width: 300px;
    height: 300px;
  }

  .cardContainer h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .cardContainer p {
    font-size: 14px;
  }
}
