@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100svh;
}

.children-wrapper {
  margin-top: 64px;
  min-height: calc(100svh - 112px);
}

.wrapper,
.wrapper-mini {
  display: flex;
  justify-content: center;
  height: 75%;
}

.main-image {
  aspect-ratio: 3 / 2;
  border-radius: 15px;
  object-fit: cover;
}

.cl-rootBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 751px) {
  .wrapper-mini {
    display: none;
  }
}

@media (max-width: 1300px) {
  .wrapper {
    padding: 0 40px;
  }
}

@media (max-width: 750px) {
  .wrapper {
    display: none;
  }

  .wrapper-mini {
    padding: 0 15px;
  }
}
