.container {
  padding: 0 2rem;
}

.main {
  min-height: calc(100vh - 100px);
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 7rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}

.row {
  display: flex;
  margin-bottom: 15px;
}

.labelWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}
.addBookButton {
  font-size: 30px;
  background-color: aqua;
  border-radius: 5px;
  color: black;
  margin-top: 20px;
}

.label {
  min-width: 75px;
}
